@import "../basics/vars.scss";

* {
  box-sizing: border-box;
  font-family: calibri;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  border-radius: $btn-borders;
  padding: 0.25rem 0.8rem;
  background-color: transparent;
  font-size: 0.9rem;
  line-height: 0.9rem;

  cursor: pointer;
}

fieldset {
  border-radius: 20px;
  border-color: $header-footer-bgc-hover;

  legend {
    color: $header-footer-bgc-hover;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 0 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
  }

  span {
    font-weight: bold;
  }
}