$contacts-bgc: rgb(197, 239, 252);
$img-bgc: rgb(158, 231, 255);
$header-footer-bgc: rgb(132, 221, 251);
$header-footer-bgc-hover: rgb(87, 210, 251);
$blue-text: rgb(4, 1, 192);

$btn-borders: 12px 4px 12px 4px;
$fieldset-borders: 20px 10px 20px 10px;
